{% include "partials/_backend_head.html" with title=title %}

<div class="wrapper">
    {% include "partials/_backend_head_nav.html" %}

    <div class="page-wrap">
        {% include "partials/_backend_sidebar.html" %}
        <div class="main-content">
            {% block main_section %}
            {% endblock main_section %}
        </div>

        {% include "partials/_backend_rightpanel.html" %}

        {% include "partials/_backend_chatpanel.html" %}
        {% include "partials/_backend_hover.html" %}


        {% include "partials/_backend_js.html" %}
        {% include "partials/_backend_footer.html" %}
    </div>
</div>

